.super-mario {
    width: 200px;
    z-index: 1;
    position: absolute;    
  }
  
  .goomba {
    width: 100px;
    z-index: 2;
    position: absolute;
    margin-left: 194px;
    margin-top: 200px;   
  }

  .baloon {    
    z-index: 3;
    position: absolute;
    margin-left: 400px;      
  } 

  .speach {
    font-size: 25px;
    position: absolute;
    z-index: 4;
    margin-left: 410px;
    margin-top: 50px;
  }   
  
  .bowser {
    width: 200px;
    position: absolute;
    z-index: 5;
    margin-left: 700px;
    margin-top: 100px;  
  }