.box {
    background-color: #353839;
    color: white;
    display: flex;
    justify-content: space-around;
    height: 60px;
}

img {
    height: 60px;
}

h1 {
    margin-top: 17px;
    font-size: 22px;
}

.singup {
    margin-top: 22px;
}



.htmlimagem {
    height: 150px;
}

.cssimagem {
    height: 136px;
}

.javascriptimagem {
    height: 140px;
}

.reactimagem {
    height: 140px;
}



.borda {
    background-color:#f5f5f5;
    border-radius: 10px;
    box-shadow: 5px 5px black;
    margin-left: 10px;
}

.section1 {
    color: #353839;
    font-size: 21px;
}


p {
    color: #353839;
    text-align: center;
}

/* a partir daqui */

 .section2 {
    display: flex;
    justify-content: center;
    
}



